body {
    background-color: #3a6332;
}

h1{
    text-align: center;
    border-style: groove;
    border-color: #cef19f;
    border-radius: 200%;
}

h3 {
    font-size: 150%;
}

img {
    width: 80%;
    margin-left: 10%;
}

h4{
    text-align: right;
    font-size: 170%;
}